---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$brand-primary: #A1D3C9 !default;
$body-bg: #51362A !default;
$body-color: #fff !default;

@import "../bower_components/bootstrap/scss/bootstrap-flex";
