---
layout: default
---
<div class="flex flex-column flex-row-ns items-center justify-between mt4-ns dark-gray">
  <div class="w-30-ns flex justify-center items-center br-100 pa4 mt4-ns bg-white absolute-ns center left-0 right-0">
    {% image MELT_Primary_Hi-Res_Brown.png class:"pt5-l w-80 h-auto" %}
  </div>

  <div class="w-100 w-third-ns flex flex-column flex-wrap-ns flex-row-ns items-center lh-copy">
    <div class="ml4-ns mb4 tl-ns tc">
      <p class="b ma0">{{ site.data.contentful.spaces.home_page.homePage[0].news }}</p>
      <ul class="list ma0 pl0">
        {% for hours in site.data.contentful.spaces.home_page.homePage[0].daily_hours %}
          <li>{{ hours.daily_hours }}</li>
        {% endfor %}
      </ul>
    </div>
    <address class="ml4-ns mb4 tl-ns tc fs-normal">
      60 Washington St<br>
      Salem, MA 01970<br>
    </address>
  </div>
  <div class="w-100 w-third-ns flex flex-column flex-wrap-ns flex-row-ns justify-end lh-copy">
    <div class="mr4-ns mb4 tr-ns tc">
      <a href="tel:9788265703" class="dark-gray">(978) 826-5703</a><br>
      <a href="mailto:{{ site.email }}" class="dark-gray">{{ site.email }}</a>
    </div>
    <div class="flex items-center mr4-ns ml0-ns mb4 tr-ns center">
      <a href="https://www.facebook.com/meltsalem/" class="no-underline mr3">
        {% image FB-f-Logo__blue_512.png
          alt:"Facebook"
          width:"30"
          height:"30" %}
      </a>
      <a href="https://www.instagram.com/meltsalem/" class="no-underline">
        {% image glyph-logo_May2016.png
          alt:"Instagram"
          width:"30"
          height:"30" %}
      </a>
    </div>
  </div>
</div>

<div class="flex-auto w-100">
  {% image header-1.jpg class:"w-100 h-auto" %}
</div>

<div class="flex flex-column dark-gray pt5 pb5">
  <h2 class="tc f1 fw5 mr4 serif">Current Flavors</h2>
  <div class="flex justify-center flex-wrap">
    {% for flavor in site.data.contentful.spaces.home_page.homePage[0].flavors %}
      <div class="flex items-center justify-center ba br3 bw0 w5 h5 pa2 ma3 toggle bg-flavor bg-{{ flavor.background }}">
        <p class="f2 fw5 tc mt0 mb0 serif">{{ flavor.name }}</p>
        <div class="dn pa2 ba br3 b--dashed w-100 h-100">
          <p class="f3 fw5 tc">{{ flavor.name }}</p>
          <p class="f4 tc">{{ flavor.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="flex flex-column items-center white bg-dark-gray pa5">
  <div class="lh-copy measure-wide">
    <h2 class="f1 fw5 mt1 mb1 serif">We are Melt.</h2>
    {{ site.data.contentful.spaces.home_page.homePage[0].about | markdownify }}
  </div>
  {% image MELT_Icon_Hi-Res_White.png
    alt:"Melt"
    width:"150"
    height:"150" %}
</div>

<div class="flex flex-column dark-gray pt5 pb5">
  <h2 class="tc f1 fw5 mr4 mb1 serif">Our Partners</h2>
  <p class="tc lh-copy">We have a lot of partners that are local and cool and hip and stuff</p>
  <div class="flex justify-center flex-wrap">
    {% for partner in site.data.contentful.spaces.home_page.homePage[0].partners %}
      <div class="flex items-center justify-center ba br2 bw1 w5 h5 pa3 ma3 toggle">
        <p class="f2 fw5 tc mt0 mb0 serif">{{ partner.name }}</p>
        <div class="mt0 mb4 dn">
          <p class="f3 fw5 tc">{{ partner.name }}</p>
          <p class="f5 tc">{{ partner.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>