---
layout: default
---
<div class="flex flex-column flex-row-ns items-center justify-between mt3-ns dark-gray">
  <div class="w-30-ns flex justify-center items-center br-100 pa4 mt3-ns bg-white absolute-ns center left-0 right-0">
    {% image MELT_Primary_Hi-Res_Brown.png class:"pt5-l w-80 h-auto" %}
  </div>

  <div class="w-100 w-third-ns flex flex-column flex-wrap-ns flex-row-ns justify-end items-center lh-copy">
    <div class="ml4-ns mb3-ns mb4 tl-ns tc">
      <p class="b ma0">{{ site.data.contentful.spaces.home_page.homePage[0].news }}</p>
      <ul class="list ma0 pl0">
        {% for hours in site.data.contentful.spaces.home_page.homePage[0].daily_hours %}
          <li>{{ hours.daily_hours }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="w-100 w-third-ns flex flex-column flex-wrap-ns flex-row-ns lh-copy">
    <address class="mr4-ns mb3-ns mb4 tl-ns tc fs-normal">
      60 Washington St<br>
      Salem, MA 01970<br>
      <a href="tel:9788265703" class="dark-gray dim">(978) 826-5703</a><br>
      <a href="mailto:{{ site.email }}" class="dark-gray dim">{{ site.email }}</a>
    </address>
    <div class="flex items-center mr4-ns ml0-ns mb3-ns mb4 tl-ns center">
      <a href="https://www.facebook.com/meltsalem/" class="no-underline mr3" target="_blank" rel="noopener noreferrer">
        {% image FB-f-Logo__blue_512.png
          alt:"Facebook"
          width:"30"
          height:"30" %}
      </a>
      <a href="https://www.instagram.com/meltsalem/" class="no-underline" target="_blank" rel="noopener noreferrer">
        {% image glyph-logo_May2016.png
          alt:"Instagram"
          width:"30"
          height:"30" %}
      </a>
    </div>
  </div>
</div>

<div class="flex-auto w-100 mb5">
  {% image header-1.jpg class:"w-100 h-auto" %}
</div>

<div class="flex flex-column justify-center items-center dark-gray mb5">
  <h2 class="tc f1 fw5 mt0 mb3 serif">Current Flavors</h2>
  <div class="flex justify-center flex-wrap ml4 mr4 mb5 mw8">
    {% for flavor in site.data.contentful.spaces.home_page.homePage[0].flavors %}
      <div class="flex items-center justify-center ba br3 bw0 w5 h4 pa1 ma2 toggle bg-flavor {% cycle 'bg-red-stripes', 'bg-green-stripes' %}">
        <p class="f3 fw5 tc pl2 pr2 mt0 mb0 serif">{{ flavor.name }}</p>
        <div class="dn ba br3 b--dashed w-100 h-100">
          <div class="flex flex-column justify-center pl1 pr1 w-100 h-100">
            <p class="f4 fw5 mt0 mb1 tc">{{ flavor.name }}</p>
            <p class="ma0 tc">{{ flavor.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h2 class="tc f1 fw5 mt0 mb3 serif">Current Rotating Flavors</h2>
  <div class="flex justify-center flex-wrap ml4 mr4 mw8">
    {% for flavor in site.data.contentful.spaces.home_page.homePage[0].rotating_flavors %}
      <div class="flex items-center justify-center ba br3 bw0 w5 h4 pa1 ma2 toggle bg-flavor {% cycle 'bg-red-stripes', 'bg-green-stripes' %}">
        <p class="f3 fw5 tc pl2 pr2 mt0 mb0 serif">{{ flavor.name }}</p>
        <div class="dn ba br3 b--dashed w-100 h-100">
          <div class="flex flex-column justify-center pl1 pr1 w-100 h-100">
            <p class="f4 fw5 mt0 mb1 tc">{{ flavor.name }}</p>
            <p class="ma0 tc">{{ flavor.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="flex flex-column items-center white bg-dark-gray mb5 pa5-ns pa4">
  <div class="lh-copy measure-wide">
    <h2 class="f1 fw5 mt0 mb0 serif">We are Melt</h2>
    {{ site.data.contentful.spaces.home_page.homePage[0].about | markdownify }}
  </div>
  {% image MELT_Icon_Hi-Res_White.png
    alt:"Melt"
    width:"150"
    height:"150" %}
</div>

<div class="flex flex-column items-center dark-gray mb4">
  <h2 class="tc f1 fw5 mt0 mb0 serif">Our Partners</h2>
  <div class="flex flex-wrap justify-center items-center mw8">
    <div class="w5 ma3 pa4 flex justify-center">
      <a href="http://www.atomicafe.com/" class="dib w-80 pa3 bg-black" target="_blank" rel="noopener noreferrer">
        {% image "partners/atomic_coffee.png"
          alt:"Atomic Coffee"
          title:"Atomic Coffee"
          class:"db" %}
      </a>
    </div>

    <div class="w5 ma3">
      <a href="https://www.facebook.com/BlueRibbonCake/" target="_blank" rel="noopener noreferrer">
        {% image "partners/blue_ribbon.jpg"
          alt:"Blue Ribbon Cake Shop"
          title:"Blue Ribbon Cake Shop" %}
      </a>
    </div>

    <div class="w5 ma3">
      <a href="http://www.jodibeebakes.com/" target="_blank" rel="noopener noreferrer">
        {% image "partners/jodi_bee_bakes.png"
          alt:"Jodi Bee Bakes"
          title:"Jodi Bee Bakes" %}
      </a>
    </div>

    <div class="w5 ma3 pa5">
      <a href="https://rumsons.com/" target="_blank" rel="noopener noreferrer">
        {% image "partners/rumsons.jpg"
          alt:"Rumsons"
          title:"Rumsons" %}
      </a>
    </div>

    <div class="w5 ma3">
      <a href="http://www.sweetlydias.com/" target="_blank" rel="noopener noreferrer">
        {% image "partners/sweet_lydias.png"
          alt:"Sweet Lydia’s"
          title:"Sweet Lydia’s" %}
      </a>
    </div>

    <div class="w5 ma3 pa4">
      <a href="https://www.memteaimports.com/" target="_blank" rel="noopener noreferrer">
        {% image "partners/mem_tea.png"
          alt:"Mem Tea"
          title:"Mem Tea" %}
      </a>
    </div>

    <div class="w5 ma3 pa4">
      <a href="https://www.tazachocolate.com/" target="_blank" rel="noopener noreferrer">
        {% image "partners/taza.png"
          alt:"Taza Chocolate"
          title:"Taza Chocolate" %}
      </a>
    </div>

    <div class="w5 ma3">
      <a href="https://www.facebook.com/That-Nutty-Redhead-Praline-Gourmet-Nuts-GF-1534753510097578/" target="_blank" rel="noopener noreferrer">
        {% image "partners/that_nutty_redhead.png"
          alt:"That Nutty Redhead"
          title:"That Nutty Redhead" %}
      </a>
    </div>
  </div>
</div>

<footer class="flex flex-row-ns flex-column justify-center items-center dark-gray bg-light-blue pt5 pb5">
  {% image MELT_Primary_Hi-Res_Brown.png alt:"Melt" class:"w5" %}

  <div class="ml5 mr5 lh-copy">
    <div class="mb0-ns mb4 tl-ns tc">
      <p class="b ma0">{{ site.data.contentful.spaces.home_page.homePage[0].news }}</p>
      <ul class="list ma0 pl0">
        {% for hours in site.data.contentful.spaces.home_page.homePage[0].daily_hours %}
          <li>{{ hours.daily_hours }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="lh-copy mr4-ns">
    <address class="mb4 tl-ns tc fs-normal">
      60 Washington St<br>
      Salem, MA 01970<br>
      <a href="tel:9788265703" class="dark-gray dim">(978) 826-5703</a><br>
      <a href="mailto:{{ site.email }}" class="dark-gray dim">{{ site.email }}</a>
    </address>
    <div class="flex items-center justify-start-ns justify-center mb0-ns mb4">
      <a href="https://www.facebook.com/meltsalem/" class="no-underline mr3" target="_blank" rel="noopener noreferrer">
        {% image FB-f-Logo__blue_512.png
          alt:"Facebook"
          width:"30"
          height:"30" %}
      </a>
      <a href="https://www.instagram.com/meltsalem/" target="_blank" rel="noopener noreferrer">
        {% image glyph-logo_May2016.png
          alt:"Instagram"
          width:"30"
          height:"30" %}
      </a>
    </div>
  </div>
</footer>