<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-xs-center">
        <address>
          60 Washington St<br>
          Salem, MA 01970<br>
          <a href="tel:9788265703">(978) 826-5703</a><br>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </address>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/meltsalem/">
              {% image FB-f-Logo__white_512.png class:"center-block" width:"30" height:"30" %}
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/meltsalem/">
              {% image Glyph_Logo_png.png class:"center-block" width:"30" height:"30" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
