@charset "utf-8";

// Colors are also overridden in _colors.css for tachyons.
$light-blue: rgb(173, 220, 210);
// dark-gray is actually brown,
// but tachyons doesn't have brown
// and this was the closest color that made sense.
$dark-gray: rgb(82, 53, 40);
$red: rgb(210, 35, 42);

@import "tachyons";

.bg-flavor.bg-red-stripes {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("../images/bg-flavors/red-stripes.png");
  background-size: cover;
}

.bg-flavor.bg-green-stripes {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("../images/bg-flavors/green-stripes.png");
  background-size: cover;
}
