@charset "utf-8";

//$brand-primary: rgb(173, 220, 210);
$brand-primary: rgb(82, 53, 40);
//$body-color: #fff;

$enable-flex: true;

@import "../../bower_components/bootstrap/scss/variables";
@import "../../bower_components/bootstrap/scss/mixins/breakpoints";
@import "../../bower_components/bootstrap/scss/mixins/clearfix";
@import "../../bower_components/bootstrap/scss/mixins/grid-framework";
@import "../../bower_components/bootstrap/scss/mixins/grid";
@import "../../bower_components/bootstrap/scss/mixins/hover";
@import "../../bower_components/bootstrap/scss/mixins/tab-focus";

@import "../../bower_components/bootstrap/scss/grid";
@import "../../bower_components/bootstrap/scss/normalize";
@import "../../bower_components/bootstrap/scss/print";
@import "../../bower_components/bootstrap/scss/reboot";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 70px;
}

footer {
  padding: 30px 0;
}
